/*热门场馆、文字和箭头*/
.hot_venue{
    margin-left: 0.3rem;
}
.hot_venue__h3 {
    height: .46rem;
    line-height: .46rem;
    font-size: .4rem;
    font-weight: 700;
    color: #232323;
}
.hot_block__lab_a{
    display: block;
    margin-right: 0.35rem;
    width: .4rem;
    height: .4rem;
}
.hot_block__lab_a img {
    height: 100%;
    width: 100%;
}
.hot_venue__wrap{
    display: flex;
    justify-content: space-between;
}
/*引入的swiper*/
.hot_venue__block{
    margin-top: 0.2rem;
}
.swiper_slide_active_hotvenue{
    width: 5.8rem !important;
    margin-right: 20px;
    height: 6.54rem;
    border-radius: .10667rem;
    border: 1px solid #ebebeb;
    padding: .53333rem .45333rem;
    box-sizing: border-box;
}
.hot_venue_block_info{
    height: 1.36rem;
    display: flex;
    justify-content: space-between;

}
.hot_venue_swiper_top_img
{    width: 1.33333rem;
    height: 1.33333rem;
    border-radius: .10667rem;
    border: 0.02rem solid #ebebeb;
}
.hot_venue_swiper_top_img img{
    width: 100%;
    height: 100%;
}
.hot_top_cente{
    width: 3.33333rem;
}
.hot_venue_center{
    width: 2rem;
}
.hot_venue_swiper_top_i{
    font-size: 0.5rem;
}
/*下面图片*/
.hot_venue_botton{
    display: flex;
    justify-content: space-between;
    margin-top: .46667rem;
    border-top: 0.05rem #f5f5f5 solid;
}
.hot_venue_botton_p{
    width: 2.36rem;
    height: 3.22rem;
    border-radius: .10667rem;
    border: 1px solid #ebebeb;
    overflow: hidden;
}
.hot_venue_botton_nav{
    display: block;
    width: 100%;
    height: 100%;
}
.hot_venue_botton_nav img{
    border: none;
    border-color: transparent;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}