.label-item {
    height: 1.51rem;
    margin-bottom: .6rem;
    display: flex;
    justify-content: space-between;
    .label-item__block__column {
        width: 1.02rem;
        height: 1.51rem;
        float: left;
        img {
            display: block;
            width: 1.02rem;
            height: 1.02rem;
        }
        span {
            display: block;
            margin-top: .15rem;
            font-size: .26rem;
            color: #000;
        }
    }
}
.vip-ahead {
    height: 3.25rem;
    width: 100%;
    border-radius: .08rem;
    background-color: rgba(255,252,245,.5);
    border: 1px solid hsla(30,55%,64%,.3);
    margin-bottom: .6rem;
    .vip-ahead__advert{
        display: block;
        height: .78rem;
        padding: 0 .3rem;
        border-bottom: .01rem dashed hsla(30,55%,64%,.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #6b4218;
    }

    
}    
.vip-ahead__list {
    height: 2.45rem;
    padding: .3rem .3rem .25rem;
    display: block;
    position: relative;
    .div-1 {
        float: left;
        img {
            height: 1.78rem;
            width: 1.3rem;
        }
    }
    .div-2 {
        float: right;
        width: 4.7rem;
        text-align: left;
        h3 {
            font-size: .26rem;
            color: #232323;
            line-height: .4rem;
            min-height: .4rem;
            max-height: 1.06667rem;
            font-weight: 900;
            
        }
        .p-1 {
            margin-top: .2rem;
            font-size: .24rem;
            height: .35rem;
            line-height: .35rem;
            color: #666; 
        }
        .p-2 {
            font-size: .24rem;
            margin-top: .2rem;
            .p-span-1 {
                color: #ff6743!important;
            }
            .p-span-2 {
                color: #666;
                margin-left: .13333rem;
            }
        }
    }
    .div-span {
        position: absolute;
        right: .4rem;
        bottom: .26667rem;
        width: 1.46rem;
        height: .5.2rem;
        border-radius: .33333rem;
        font-size: .24rem;
        color: #ff6743;
        border: 1px solid #ff6743;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

}
.operation {
    height: 4.04rem;
    box-shadow: 0 0.05333rem 0.4rem 0.02667rem rgba(35,35,35,.08);
    background-color: #f5f5f5;
    .operation-ul-1 {
        height: 1.8rem;
        margin:  0;
        display: flex;
        justify-content: space-around;
        .ul-1-li {
            float: left;
            width: 3.4rem;
            height: 1.8rem;
            -webkit-box-align: center;
            align-items: center;
            padding: .25rem .35rem;
            background: #fff;
            h3 {
                float: left;
                font-weight: 900;
                width: 1.84rem;
                height: .5rem;
                line-height: .5rem;
                font-size: .3rem;
                color: #232323;
                text-align: center;
            }
            p {
                text-align: left;
                float: left;
                width: 1.84rem;
                height: .4rem;
                line-height: .4rem;
                font-size: .24rem;
                color: #666;
                letter-spacing: 0;
                p {
                    .c_ff6 {
                        color: #ff6743!important;
                    }
                }
            }
            img {
                float: right;
                border: none;
                border-color: transparent;
                vertical-align: middle;
                width: .82rem;
                height: .9rem;
            }
        }
    }
    .operation-ul-2 {
        height: 2.12rem;
        margin: .12rem 0 0 0 ;
        display: flex;
        justify-content: space-between;
        .ul-2-li {
            background: #fff;
            display: flex;
            float: left;
            width: 2.22rem;
            height: 2.12rem;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            text-align: center;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            h3 {
                height: .45rem;
                line-height: .45rem;
                font-weight: 900;
                font-size: .3rem;
                color: #232323;
                text-align: center;
            }
            p {
                height: .4rem;
                line-height: .4rem;
                font-size: .24rem;
                color: #666;
                letter-spacing: 0;
                p{
                    .c_ff6 {
                        color: #ff6743!important;
                    }
                }
            }
            img {
                border: none;
                border-color: transparent;
                vertical-align: middle;
                width: .9rem;
                height: .9rem;
                margin:  0 auto;
            }
        }
    }
}
