.hot-block {
    width: 100%;
    height: 5.52rem;
    padding:  .4rem 0 .7rem .3rem;
    .hot-block__lab {
        height: .46rem;
        h3 {
            height: .46rem;
            line-height: .46rem;
            font-size: .4rem;
            font-weight: 700;
            color: #232323;
            float: left;
        }
        .hot-block__lab-a {
            float: right;
            margin-right: .03rem .2rem 0 0 ;
            width: .4rem;
            height: .4rem;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .tour-block  {
        margin-top: .4rem;
        height: 4rem;
        
        
    }
    
}

.tour-swiper_list {
    width: 100%;
    height: 100%;
  }
  .tour-swiper-slide {
    height: 4rem;
    transition: 300ms;
    transform: scale(0.8);
  }
  .tour-swiper-slide-active,.tour-swiper-slide-duplicate-active{
    transform: scale(1);
    z-index: 99;
  }
  .text-single {
    height: .5rem;
    line-height: .5rem;
    width: 4.9rem;
    text-align: center;
    font-size: .34rem;
    color: #232323;
    margin-top: .25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tour-block__list__wrap {
    display: block;
    height: 100%;
    width:100%;
    
}