.mine,.mine_body,.mine_info,.mine_vip,.mine_setting{margin: 0;padding: 0;box-sizing: border-box;}
.mine{
    height: 100%;
    width: 100%;

}
/*顶部大的div*/
.mine_body{
    height: 11.21rem;

    -webkit-background-size: 100%;
    background-size: 100%;
    background-image:url("../../img/myjuooo.jpg");
    background-repeat:no-repeat ;
}
/*顶部里面大的div*/
.mine_info{
    position: relative;
    overflow: hidden;
    height: 4.19rem;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
}
/*上面设置icon*/
.mine_info .icon{
    display: block;
    position: absolute;
    right: 0.25rem;
    top: 0.2rem;
    font-size: 18px;
    color: white
}
/* 带头像的小框 */
.mine_info .mine_info_main{
    position: relative;
    width: 6.9rem;
    height: 3.01rem;
    background: #fff;
    z-index: 12;
    box-shadow:0 0.05333rem 0.4rem 0.02667rem rgba(35,35,35,.08);
}
.mine_info__main__head{
    width: 6.9rem;
    height: 1.02rem;
    position: relative;
}
.mine_info__main__head__pic{
    position: absolute;
    left: 0.3rem;
    top:-0.30rem;
    z-index: 9999;
    width: 1.16rem;
    height: 1.16rem;
}
.mine_info__main__head__pic img{
    width: 100%;
}
.mine_info__main__head__name{
    position: absolute;
    top: .22rem;
    left: 25%;
    color: #232323;
    font-size: 14px;
    font-weight: 700;
}
.mine_info__main__head__uid{
    position: absolute;
    bottom: 0;
    left: 25%;
}
.mine_info__main__label{
    height: .52rem;
    position: relative;
}
.mine_info__main__label__name{
    width: 1.6rem;
    font-size: 0.3rem;
    color: #454341;
    font-weight: 700;
    background: linear-gradient(-45deg,#f5dea9,#f8d583);
    border-radius: .36rem 0 0 .36rem;
    text-align: center;
    position: absolute;
    right: 0;
}
/*顶部小方框大的div*/
.mine_info__main__cnt{
    height: 1.62rem;
    display: flex;
    align-items: center;
}
.mine_info__main__cnt__item{
    flex: 1;
    text-align: center;
    position: relative;
    padding: .5rem 0 .52rem;
    font-weight: 500;
    font-size:14px;
}
.mine_info__main__cnt__item__num{
    color:#ff6743
}
.mine_info__main__cnt__item__name{
    color: #969896;
}
.separator{
    position: absolute;
    height: .8rem;
    background: #ebebeb;
    width: 0.02rem;
    top: .4rem;
    right: 0;
}

/* .mine_vip图片 */
.mine_vip{
    width: 100%;
    height:  1.8rem;;
}
.mine_vip img{
    width: 100%;
}




/* .mine_setting列表的那个地方 */
.mine_setting{
    width: 100%;
    height:  3.78rem;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* 下面的列表 */
.mine_setting__list{
    width: 6.9rem;
    height: 1.7696rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom:0.15rem ;
}
.mine_setting__list__item{
    width: 25%;
    height: 1.7696rem;
}
.mine_setting__list__item .mine_icon{
    display: block;
    margin: 0.2rem;
    font-size: 22px;
    color:#ff6743
}

