.showNav{
    position:fixed;
    top:0.7rem;
    background: white;
    color: black;
}
.showNull{
    width: 7.5rem;
    height: .2rem;
    position: absolute;
    bottom:0.15rem;
    background: white;
}
.showUl{
    width: 7.5rem;
    height: 0.75rem;
    display: flex;
    line-height: 0.91rem;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 0.2rem;

}
.showUl li{
    padding: 0 0.2rem;
    font-size: 0.3rem;
}