.mine_warp{
    padding-top: 1rem;
    text-align: center;
    line-height: 4rem;
}
.main_img{
    width: 3rem;
    height: 2rem;
    position: absolute;
    top: 30%;
    left: 30%;
}
.main_img img{
    width: 100%;
}
.main_font{
    position: absolute;
    top: 35%;
    left: 43%;
}